# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_size = 4
indent_style = space
max_line_length = 120
tab_width = 4
end_of_line = lf
insert_final_newline = true

[{*.ats,*.ts}]
indent_size = 2
tab_width = 2

[{*.bash,*.sh,*.zsh}]
indent_size = 2
tab_width = 2

[{*.cjs,*.js}]
indent_size = 2
tab_width = 2

[{*.har,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.prettierrc,.stylelintrc,bowerrc,jest.config}]
indent_size = 2
tab_width = 2

[{*.yaml,*.yml}]
indent_size = 2
tab_width = 2

# Matches multiple files with brace expansion notation
# Set default charset
[*.{ts,js}]
charset = utf-8

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2